body{
    background-image:url(cloud.jpg) ;
}

#data{
    height:90px;
    width: 77vw;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 30px;
    padding-left: 50px;
    
}

input{
    width: 80vw;
    height: 6vh;
    padding: 2vh;
    border-radius: 5px;
    border: none;
    outline: none;
}
button{
    /* border-radius: 20px; */
    background-image: url(./searchicon.png);
    height: 16rem;
    width: 1.5rem;
    margin-left: -3rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
}